.discourse-site-credit {
  .admin-area &,
  .has-full-page-chat &,
  .static-login &,
  .invite-page & {
    display: none !important;
  }
  grid-area: below-content;
  justify-self: start;
  font-size: var(--font-down-1);
  letter-spacing: 0.3px;
  gap: 0.33em;
  padding: 0.133em;
  background: var(--primary-very-low);
  border-radius: 0.75em 0.75em 0.75em 0;
  transition: all 0.25s ease-in-out;

  .d-icon {
    position: relative;
    top: 0.02em; // vertical alignment
  }

  &:visted {
    color: currentColor;
  }

  &:hover {
    color: var(--primary-high);

    @media (prefers-reduced-motion: no-preference) {
      background: linear-gradient(
        45deg,
        var(--primary-very-low),
        var(--primary-very-low),
        var(--primary-very-low),
        var(--primary-very-low),
        var(--primary-very-low),
        #d0232b,
        #f15d22,
        #fff9ae,
        #00a94f,
        #00aeef
      );
      background-size: 300%;
      animation: rainbow-shimmer 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-delay: 0.15s; // avoid animating on passing hover
    }
  }
}

@keyframes d-rainbow-shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
    background-size: 300%;
  }
}

.discourse-site-credit__content {
  background: var(--primary-very-low);
  border-radius: 0.62em 0.62em 0.62em 0;
  padding: 0.25em 0.75em 0.25em 0.5em;
}
